[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twine = "*"
pyelftools = "*"
micropy-cli = "*"
esptool = "*"
mpremote = "*"

[dev-packages]

[requires]
python_version = "3.10"
